.heading
{
  font-size: 30px;
  width: 100%;
  margin: 0px;
  font-family: cursive;
  box-shadow: gold;
  font-weight: bold;
}
.note
{
  font-size: 15px;
  color: black;
}
.copy_right_footer {
  position: fixed;
  color: blue;
  bottom: 0;
  width: 100%;
  background-color:palegreen;
  line-height: 3;
  text-align: center;
}
canvas 
{
  border:5px solid rgb(54, 33, 33);
  border-radius:20px;
  box-shadow:10px 10px 10px gold;
}